#hero-image-container {
  position: relative;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;
  container-type: inline-size;
}

#hero-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 600px) {
  #hero-image-container {
    max-height: 55vh;
  }
}

.hero-image-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f00;
  text-align: center;
  font-size: 5.5cqw;
}

