#hero-image-container {
  position: relative;
  width: 100%;
  container-type: inline-size;
  margin-bottom: 2em;
}

#hero-image {
  width: 768px;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: top;
  margin: auto;
}

@media (max-width: 768px) {
  #hero-image {
    width: 100%;
  }
}

.hero-image-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f00;
  text-align: center;
  font-size: 2.5em;
}

@media (max-width: 768px) {
  .hero-image-text {
    font-size: 10cqw;
  }
}